@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

/*
    Any uses of calc(px + vh) or calc(px + vw) in this file are to 
    have a minimum size (the px value) while still scaling with viewport size. 
    Most of the values are arbitrary and just chosen based on what looks good.
*/

html {
    font-family: "inter", sans-serif;
    background-color: #1a1818;
    color: #ffa6a6;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: calc(2px + 1vh);
    padding-bottom: calc(2px + 2vh);
    background-color: #080404;
    mask-image: linear-gradient(180deg, #080404 66%, rgba(0,0,0,0)); /* fades into background */
    font-size: calc(2px + 2vh);
    z-index: 999;
}

main {
    font-family: "inter", sans-serif;
    padding: 3vh 5vw;
}

footer {
    font-family: monospace;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: calc(2px + 2vh);
    padding-bottom: calc(2px + 1vh);
    background-color: #080404;
    mask-image: linear-gradient(0deg, #080404 66%, rgba(0,0,0,0)); /* fades into background */
    font-size: calc(2px + 4vh);
}

/* generic styling for texts/links */
a {
    font-family: monospace;
    color: #d87070;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: calc(30px + 1.8vw);
}

p {
    font-family: "inter", sans-serif;
    font-size: calc(16px + 0.8vw);
}

/* this section used for previous project cards */
.card {
    border: calc(1px + 0.4vh) solid #d87070;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #241f1f;
    border-radius: 20px;
    padding: calc(20px + 0.5vh);
    margin: calc(5px + 0.5vh);
    width: 15vw;
    min-width: 200px;
}

.card-img {
    border-radius: 15px;
    padding: calc(2px + 0.4vh);
    min-width: 150px;
    max-width: 15vw;
}

.card-title {
    font-family: "Oswald", sans-serif;
    font-size: calc(12px + 1.2vw);
    margin-top: calc(2px + 1vh);
    margin-bottom: calc(10px + 1vh);
}

.card-desc {
    font-family: "inter", sans-serif;
    font-size: calc(12px + 0.6vw);
    margin-bottom: calc(10px + 2vh);
}

.card-date {
    font-family: "inter", sans-serif;
    font-size: calc(12px + 1vw);
    margin-bottom: calc(8px + 2vh);
}

.card-link {
    font-family: monospace;
    font-size: calc(12px + 0.8vw);
    margin-bottom: calc(8px + 4vh);
}

.project-cards {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: calc(4px + 0.5vw);
    flex-direction: row;
    flex-wrap: wrap;
}

/* used for the "jump to top" arrow */
.jump-top {
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa6a6;
    color: #080404;
    font-size: calc(4px + 4vh);
    border-radius: 30%;
    padding: 1vw;
    text-decoration: none;
}

/* animations */
.move-in-navigation {
    animation: move-in-navigation .6s cubic-bezier(.6, .6, .3, 1.3)both;
    animation-delay: .2s;
}

@media(prefers-reduced-motion) {
    .move-in-navigation {
        animation: none;
    }
}

@keyframes move-in-navigation {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.move-in-title {
    animation: move-in-title .6s cubic-bezier(.6, .6, .3, 1.3)both;
    animation-delay: .3s;
}

@media(prefers-reduced-motion) {
    .move-in-title {
        animation: none;
    }
}

@keyframes move-in-title {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.move-in-card {
    animation: move-in-title .6s cubic-bezier(.6, .6, .3, 1.3)both;
    animation-delay: 0.6s;
}

@media(prefers-reduced-motion) {
    .move-in-title {
        animation: none;
    }
}

@keyframes move-in-title {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.move-in-generic {
    animation: move-in-generic .6s cubic-bezier(.6, .6, .3, 1.3)both;
    animation-delay: .4s;
}

@media(prefers-reduced-motion) {
    .move-in-generic {
        animation: none;
    }
}

@keyframes move-in-generic {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}